* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    font-family: 0.9rem;
    margin: 0.5rem;
}

input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #333;
}

button {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #4facfe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #3286f8;
}